body {
    background-image: linear-gradient(to bottom, #cdf5c1, #d3f1b5, #dbeca9, #e4e79e, #ede195, #f2d88b, #f7ce84, #fcc47e, #fcb478, #fba574, #f89573, #f48674);
    cursor: url("../../cursor/PaperPlane.ico"),auto;
}
.box {
    box-shadow: 0 0 28px 19px rgba(123, 123, 123, .3);
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.box>p {
    font-size: 1rem;
    text-indent: 2em;
    font-weight: 600;
    font-family: STZhongsong;
}
.box>h1 {
    text-align: center;
}